html{
    font-family: 'Poppins', sans-serif;
    background-color: #2ed389;
}
body{
    background-color: darkgrey;
    border-radius: 2rem;
    border: solid 5px rgb(171, 60, 185);
    margin: 2rem auto;
    padding: 2rem;

}
legend{
    font-size: 2rem;
    font-weight: bold;
    color: rgb(41, 208, 105);
    text-shadow: 1px 1px 2px black;
    padding: 2rem;
    text-align: center;

}
h1{
    font-size: 3rem;
    text-align: center;
    color: rgb(41, 208, 105);
}

fieldset{
    border-radius: 10px;
    border: solid 2px rgb(171, 64, 185);
}

button{
    width: 100%;
    padding: 1rem;
    background-color: rgb(41, 208, 105);
   
}
#cone{
    margin-bottom: 2rem;
}
#toppings{
    margin-bottom: 2rem;
}
#flavor{
    margin-bottom: 2rem;
}

#name{
    margin-bottom: 2rem;
}

#email{
    margin-bottom: 2rem;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: right;
    border-radius: 200rem;
    float: right;
}